#bash profile script for ansible-workshop
#{{ ansible_managed }}
export WORKSHOPUSER=$(echo $USER|grep -c ansible)
export USERNUMBER=$(echo $USER|sed 's/[^0-9]*//g')
export VMNAME=ansible_node$USERNUMBER
  echo " __________________"
  echo "< http://github.com/CSCfi/ansible-workshops >"
  echo " ------------------"
  echo "        \   ^__^"
  echo "         \  (oo)\_______"
  echo "            (__)\       )\/\\"
  echo "                ||----w |"
  echo "                ||     ||"
  echo ""
  echo ""
if [ "$WORKSHOPUSER" -gt 0 ]; then
  echo "Ansible is not installed to the system. You do not need root on the Virtual Machine (VM) where you run ansible."
  echo ""
  echo "Install ansible under your own user on the bastion host with these commands:"
  echo ""
  echo "python36 -m venv ansible_venv"
  echo "source ansible_venv/bin/activate"
  echo "pip install ansible"
  echo ""
  echo "Now you should be able to run ansible!"
  echo ""
  echo "There is an ssh-key without a password in your"
  echo "ssh-agent ( confirm with ssh-add -l )."
  echo ""
  echo "The ssh-key is already added to your VM (address: $VMNAME)."
  echo ""
  echo "The username to login to the VM is ansibleworkshop and your VM's hostname is $VMNAME"
  echo ""
  echo "Test that you can ssh there with: ssh -l ansibleworkshop $VMNAME"
  echo ""
  echo "You can gather facts from your local machine (without first creating an ansible inventory file):"
  echo "ansible -m setup localhost"
  echo ""
  echo "Next steps follow https://github.com/CSCfi/ansible-workshops"
else
  echo "You are an admin on the bastion host, welcome :)"
  echo "Use your own ssh key and ssh into this bastion host with -A"
fi
