#bash profile script for ansible-workshop
#{{ ansible_managed }}
export WORKSHOPUSER=$(echo $USER|grep -c ansible)
export USERNUMBER=$(echo $USER|sed 's/[^0-9]*//g')
export VMNAME=ansible_node$USERNUMBER
  echo " __________________"
  echo "< http://github.com/CSCfi/ansible-workshops >"
  echo " ------------------"
  echo "        \   ^__^"
  echo "         \  (oo)\_______"
  echo "            (__)\       )\/\\"
  echo "                ||----w |"
  echo "                ||     ||"
  echo ""
  echo ""
if [ "$WORKSHOPUSER" -gt 0 ]; then
  echo "Your should now have an ssh-key without a password in your"
  echo "ssh-agent ( confirm with ssh-add -l )."
  echo ""
  echo "The ssh-key should be added to your VM."
  echo ""
  echo "The username is ansibleworkshop and your VM is $VMNAME"
  echo ""
  echo "Test that you can ssh there with: ssh -l ansibleworkshop $VMNAME"
  echo ""
  echo "Ansible is not installed to the system. You do not need root on the machine where you run ansible."
  echo ""
  echo "Install it under your own user with:"
  echo ""
  echo "python36 -m venv ansible_venv"
  echo "source ansible_venv/bin/activate"
  echo "pip install ansible"
  echo ""
  echo "Now you should be able to run ansible!:"
  echo ""
  echo "Gather facts from your local machine (without first creating an ansible inventory file):"
  echo "ansible -m setup localhost"
  echo ""
  echo "Next steps follow https://github.com/CSCfi/ansible-workshops"
else
  echo "You are an admin on the bastion host, welcome :)"
  echo "Use your own ssh key and ssh into this bastion host with -A"
fi
